body{
    display: flex;
    padding: 0.5em;
}
nav a{
    padding: 0.5em
    
}

footer p {
   font-size: small;
}

footer a {
    font-size: small;
 }


 .content{
     text-align: center;
     display: inline-flex;
     padding: 1em;
     margin-top: 1em;
 }

 .content-2{
    text-align: center;
    padding: 1em;
    margin-top: 1em;
}
 .content img{
     padding: 1em;
 }

